body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(1.jpg); */
  background-size: cover;
  background-color: rgba(black, 0.5);
}

/* .font-family {
  font-family: "Baloo Bhai 2", cursive;
} */

.background-nav {
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  background: url(2.jpg);
  background-size: cover;
  height: 90vh;
  opacity: 0.6;
}

.footer {
  /* background-color: rgb(43 25 74); */
  /* background-color: rgb(197, 63, 63) !important; */
  padding: 20px;
  text-align: center;
  /* color: white; */
  padding: 30px;
  font-size: 1.4em;
  box-shadow: 2px 2px 19px rgb(158, 8, 8);
}

.navbar-nav .nav-link {
  list-style: none;
  text-decoration: none;
  color: white !important;
  font-weight: 800;
}
.navbar-nav .nav-link:hover {
  color: rgb(231, 29, 29) !important;
}

.navbar-brand:hover {
  color: rgb(231, 29, 29);
}
.navbar {
  padding: 12px;
  background-color: rgb(255, 255, 255, 1.5);
}

.container-fluid .active {
  /* color: black; */
  color: rgb(231, 29, 29) !important;
  border-bottom: 2px solid rgb(231, 29, 29);
  display: inline;
}

.three-d-image img {
  width: 500px !important;
  height: 360px;
}
.three-d-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-props img {
  display: flex;
  justify-content: flex-start;
}

#header {
  width: 100%;
  height: 700px !important;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #3498db;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

.row {
  margin-bottom: 70px;
}

.cljaa .btn-get-started {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 50px;
  padding: 10px 30px;
  color: black;
  transition: 1.2s;
}

.cljaa .btn-get-started:hover {
  background-color: #3498db;
  color: white;
  font-size: 19px;
}

.contact-us-container {
  font-weight: 50px;
  color: #fff;
  width: 68%;
  margin: auto;
  border-radius: 10px;
  margin-top: 10vh !important;
  height: 75vh;
}

.second- {
  text-align: center;
  height: 36vh;
  padding-top: 10px;
  margin-bottom: 100px;
}

.site-heading p {
  width: 70%;
  margin: auto;
  padding: 20;
  font-size: 20;
}

.site-heading h5 {
  color: rgb(96, 177, 214);
  font-weight: 700;
  font-size: 28px;
}

.icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  width: 150px;
  border: 2px dashed rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  /* background-color: blue; */
}

.process-standard-area {
  background: linear-gradient(
    90deg,
    rgba(0, 16, 45, 1) 0%,
    rgba(0, 89, 252, 1) 50%
  ) !important;
  height: 82vh;
  margin-bottom: 120px;
  margin-top: 30px;
  border-radius: 10px;
  height: auto !important;
}

.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product */
.card-img img {
  border-radius: 12px;
  background-color: rgba(218, 32, 32, 0.5);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 250px !important;
}

.main-content {
  display: flex;
  align-items: center;
  /* position: relative; */
  margin: 6vh auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content .card {
  width: 33%;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.icon img {
  font-size: 30px;
  width: 60px;
}
body {
  width: 100%;
  width: 100%;
  position: relative;
  font-family: "Varela Round";
}

.dFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 50px 20px 50px;
  /* background-color: #272b34; */
}

.card-header p {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.card-header ul {
  font-size: 17px;
  font-weight: 500;
}

#price {
  color: red;
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
  font-size: 1.5rem;
}

.card:hover {
  /* background-color: #2d343e; */
  transform: scale(1);
  cursor: pointer;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.card {
  /* background-color: #2d343e; */
  transform: scale(1);
  cursor: pointer;
  box-shadow: 3px 3px 6px rgb(146, 121, 121);
  width: 100%;
  height: 100%;
}

.thumb img {
  width: 100%;
}

.buy-now-btn {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: white;
  margin: 6px;
  padding: 6px 10px;
  border-radius: 4px;
}
.buy-now-btn {
  transform: scale(1.1);
  background: #ff5500;
}

.shopping-cart-icon {
  display: none;
}

@media (max-width: 576px) {
  .footer-right-content {
    display: flex;
    justify-content: center;
    font-size: 29px;
    flex-direction: column;
  }

  .main-content .card {
    width: 100% !important;
  }
}

@media (max-width: 776px) {
  .main-content .card {
    width: 100%;
  }

  .contact-us-container {
    margin-top: 95px !important;
    font-weight: 50px;
    color: #fff;
    width: 100%;
    margin: auto;
    border-radius: 90px !important;
    height: 69vh;
    overflow-y: hidden;
  }

  .parent {
    padding: 0px !important;
  }
  .main-content .card {
    width: 100%;
  }

  .mob-view-h2 {
    font-size: 25px;
    font-weight: bolder !important;
    text-align: center;
    /* margin-top: 20px !important; */
    color: rgb(96, 177, 214);
  }

  .my-5 {
    margin-top: 0px !important;
    font-size: 0.9em;
    padding: 15px;
    margin-bottom: 20px;
  }

  .cljaa {
    display: none;
    margin: 0px !important;
    padding: 0px !important;
  }

  .process-standard-area {
    height: auto !important;
    margin-top: 15px;
  }

  .shopping-cart-icon {
    color: white;
    position: absolute;
    top: 22px;
    right: 105px;
  }

  .site-heading {
    padding-top: 73px;
    margin-bottom: 100px;
  }
  .site-heading p {
    /* background-color: azure; */
    width: 100%;
    padding: 15px;
    box-shadow: 0px opx 20px gray;
  }
}

@media (min-width: 1366px) {
  .main-content {
    margin-top: 9vh;
    margin-bottom: 0px;
  }
}

@media (max-width: 1000px) {
  .main-content {
    margin-top: 10vh;
    box-shadow: none;
  }

  .main-content .card {
    width: 50%;
  }
}

@media (max-width: 1920px) {
  .process-standard-area {
    height: 60vh;
    margin-bottom: 120px;
    margin-top: 30px;
    border-radius: 10px;
  }
}

.terms-container {
  box-shadow: 0px 0px 10px #e7d8d8 !important;
  margin-top: 103px !important;
  border-radius: 11px;
  padding: 50px 10px 20px 30px !important;
  text-align: left;
  max-width: 90%;
  margin: auto;
  display: flex;
}

.privacy-policy-container {
  box-shadow: 0px 0px 10px #e7d8d8 !important;
  margin-top: 103px !important;
  border-radius: 11px;
  padding: 50px 10px 20px 30px !important;
  text-align: left;
  max-width: 90%;
  margin: auto;
  white-space: wrap;
  text-overflow: ellipsis;
}
